<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
    <link rel="shortcut icon" th:href="@{img/rektorat-flat-removebg.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MyAcademia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: #F1A350 !important;">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/matkul}">Mata Kuliah</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Long Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/short-plan/}">Short Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/forum/}">Forum</a>
                </li>
                <li class="nav-item logout">
                    <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div >
        <div align="center" id="Title">
            <h1>Discussion Forum</h1>
            <a href="/forum/new">New Post</a>
            <br/><br/>
        </div>
        <div class="container" >
            <div class="card" th:each="post : ${postList}" style="word-wrap: break-word;">
                <div class="card-header">
                    <h1><a th:text="${post.title}" th:href="@{'/forum/post/' + ${post.id}}">Title</a></h1>
                    <div>
                        <a th:text="${post.courseTopic}">User</a>
                    </div>
                </div>
                    <h3 class="card-body" th:text="${post.postText}" >Body</h3>
                <br></br>
            </div>
        </div>
    </div>



    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>