<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Academia | Long Plan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="shortcut icon" th:href="@{img/rektorat-flat-removebg.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyAcademia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color: #F1A350 !important;">Welcome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/matkul}">Mata Kuliah</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/longplan}">Long Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Short Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
            <li class="nav-item logout">
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div th:each="longPlan : ${listLongPlan}">
        <div class="container">
            <a><h3 th:text="${longPlan.getNamaLongPlan()}"  th:href="@{/longplan}"></h3></a>
            <a class="btn btn-primary" th:href="@{'/longplan/detail/' + ${longPlan.getId()}}" role="button">Detail LongPlan</a>
            <button class="btn btn-danger button-delete" th:id="${longPlan.getId()}" role="button">Delete LongPlan</button>
            <br>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/longplan/create}" role="button">Create LongPlan</a>
</div>

<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{/js/ajaxLongPlan.js}"></script>
</body>
</html>