<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>Portfolio</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/matkulSearch.css}">
    <link rel="shortcut icon" th:href="@{img/rektorat-flat-removebg.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyAcademia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">Welcome</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color: #F1A350 !important;">Mata Kuliah</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Long Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Short Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
            </li>
            <li class="nav-item logout">
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="detail" th:id="${detailNama}">
        <h1 id="nama"></h1>
        <div class="row">
            <div class="col-lg-2"><p>Kode: </p></div>
            <div class="col-lg-2"><p id="kode"></p></div>
            <div class="col-lg-8"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"><p>Jumlah SKS: </p></div>
            <div class="col-lg-2"><p id="sks"></p></div>
            <div class="col-lg-8"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"><p>Semester: </p></div>
            <div class="col-lg-2"><p id="semester"></p></div>
            <div class="col-lg-8"></div>
        </div>
        <p>Deskripsi: </p><p id="penjelasan"></p>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/ajaxMatkul.js}"></script>
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>