    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/forum.css}">
    <link rel="shortcut icon" th:href="@{img/rektorat-flat-removebg.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MyAcademia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: #F1A350 !important;">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/matkul}">Mata Kuliah</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Long Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/short-plan/}">Short Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Forum</a>
                </li>
                <li class="nav-item logout">
                    <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>New Post</h1>

    <form action="#" th:action="@{/forum/save}" th:object="${post}" method="post">
        <div class="form-group">
            <label for="inputJudul">Title</label>
            <input type="text" class="form-control" id="inputJudul" th:field="*{title}">
        </div>
        <div class="form-group">
            <label for="inputTopik">The Course Topic</label>
            <input type="text" class="form-control" id="inputTopik" th:field="*{courseTopic}">
        </div>
        <div class="form-group">
            <label for="inputIsi">Text</label>
            <input type="text" class="form-control" id="inputIsi" style="min-height: 100px" th:field="*{postText}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a class="btn btn-danger" href="/forum" role="button">Back</a></div>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>